<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Sign in</title>
</head>
<body>
    <header>
        <h1>EAT to LIVE</h1> 
  </header>
    <form action="home.html" method="get">
        <p class="label">Name:</p>
        <input name="name" type="text" required> 
        <p class="label">Password:</p>
        <input name="password" type="text" required> 
        <br>
        <br>
        <button onclick="login()" class="btn btn-secondary mb-3">Sign in</button>
        <br>
        
        <br>
        </div>
    </form>
</body>
</html>