 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <style>
 
header{
   color: rgb(138, 13, 13);
   border: solid rgb(46, 100, 29);
   border-width: thick;
}

h1{
    color: rgb(138, 13, 13);
    font-size: 375%;
}

  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  
  li a:hover {
    background-color:rgb(138, 13, 13);
  }

  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  img{
    width: 275%;
    height: 300px;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 200px) {
    .column {
      width: 100%;
    }
    h1{
    font-size: 100px;
   }
    img{
    width: 100%;
    height: auto;
  }
  .c {
    width: 100%;
    padding: 5px;
    border: solid white; 
  }
  }
        ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(187, 53, 4);
    border: rgb(90, 5, 5);
  }
  .c {
    float: left;
    margin-left: 5%;
    width: 25%;
    padding: 5px;
    border: solid white;
  }
  
  /* Clearfix (clear floats) */
  .r::after {
    content: "";
    clear: both;
    display: table;
  }
  form{
    border: solid rgb(187, 66, 22);
    border-width: thick;
    
    margin-top: 2%;
    background-color: rgb(46, 100, 29);
    color: white;
    padding: 20px;
   
}
  

 </style>
    <title>Document</title>
</head>
<body>
    <header>
          <div class="row">
            <div class="column" >
                <h1>EAT <br>to <br> LIVE</h1> 
            </div>
            <div class="column">
              <img src="allergy.jpg" alt="Top Allergens">
            </div>
    </header>
    
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="getSignUp.html">Create Account</a></li>
        <li><a href="login.html">Sign in</a></li>
        <li><a href="addNewRecipe">Add Recipe</a></li>
      </ul> 
      <form action="">
        <div class="r">
            <div class="c">
              <a href="recPage1.html">
              <img src="burger.jpg" alt="Top Allergens" style="width:100%">
              </a>
              <br>
              <p><b>Turkey Burger</b></p>
              <p>"These are quick and easy to make. <br>
                 They're colorful and most importantly, <br>
                 delicious! Whenever I take these to a party, <br>
                 I bring the recipe along because I'm always <br>
                 asked for it. You will not regret making these <br>
                 They are amazing!</p>             
              </div>
           
            <div class="c">
              <a href="recPage2.html">
              <img src="salsa.jpg" alt="Top Allergens" style="width:100%">
              </a>
              <br>
              <p><b>Tomato, Corn and Avocado Salsa</b></p>
              <p>"This salsa is quick and easy to make. <br>
                It's colorful and most important, it's <br>
                delicious! Whenever I take it to a party, <br>
                I bring the recipe along because I'm always <br>
                asked for it. Serve with tortilla chips colored <br>
                ones are fun!"</p>  
            </div>
            <div class="c">
              <a href="recPage3.html">
                <img src="pepper.jpg" alt="Top Allergens" style="width:100%">
                </a>
                <br>
                <p><b>Recipe Description</b></p>
                <p>"Roasted green bell peppers are stuffed<br>
                    with feta cheese and a mixture of rice <br>
                    and green onions." These are quick and easy to make. <br>
                    They're colorful and most importantly, <br>
                    delicious! Whenever I take these to a party, <br>
                    I bring the recipe along because I'm always <br>
                    asked for it.</p>
              </div>
          </div>
          
      </form>
</body>
</html>
  




<script>
$(document).ready(() => {
  $('#get-all').click(() => {
    $.ajax({
      url: '/getAll',
      type: 'GET',
      dataType: 'html',
      success: (res) => {
        console.log(res);
        $('#stuff').html(res);
      }
    }).fail(err => {
      console.log(err);
    });
  });
});
</script>
</body>
</html>