<% list.forEach(recipe => { %>
    <div class="card ml-3" style="width: 18rem; float:left;">
      <img class="card-img-top" src="././allergen.jpeg" alt="Card image cap" style="max-width:300px;">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.title %> </h5>
        <p class="card-text"><%= recipe.prep_time %> </p>
        <a href=<%= "/viewRecipe/" + recipe.id  %> class="btn btn-primary">View Recipe</a>
      </div>
    </div>
    <% });%>