<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <!--we should have the id be the tag id-->
        <a class="dropdown-item" href="#" id="get-all">Get All</a>
      </div>
    </li>
    <li>
      <form class="form-inline my-2 my-lg-0 ml-2">
        <input class="form-control mr-sm-2" type="text" placeholder="Find a recipe" aria-label="Search">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
    </li>

  </ul>
  <!--this will float right-->
  <a class="nav-link text-white" href="/newRecipe">My Recipes</a>

  <div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#">Action</a>
    </div>
  </div>
</div>
</nav> <!-- /.navbar -->

<main role="main" class="container">

<div style="text-align: center;">click on the button in the 'Browse' dropdown and see the recipes appear below!
</div>
<div id="stuff"></div>

</main><!-- /.container -->

<script>
$(document).ready(() => {
  $('#get-all').click(() => {
    $.ajax({
      url: '/getAll',
      type: 'GET',
      dataType: 'html',
      success: (res) => {
        console.log(res);
        $('#stuff').html(res);
      }
    }).fail(err => {
      console.log(err);
    });
  });
});
</script>
</body>
</html>