<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="./style.css">
   <title>Results</title>
</head>
<body>
   <h1>Price</h1>
   <div class="box">
   <p>First Name: <%= firstName %></p>
   <p>Last Name : <%= lastName %></p>
   <p>Phone Number: <%= phone %></p>
   <p>Email: <%= email %></p>
   </div>
   <button><a href="/">Back</a></button>
</body>
</html>